.w{
    /* color:#69f;*/
    text-align: center;
    border:#ffab23;
    border-style: inset;
    border-width: 5px ;
    /*display: inline-block*/;
    color:chartreuse;
    /*border-color:#ffab23*/
}
input[type='button']{
    width:60px;
    background-color:#69f;
}
input[type='number']{
    width:50px;
    
}
input[type='text']{
    width:200px;
    
}
ul {
    list-style-type: none;
  }
  ul li {
    margin: 10px 0 10px 0;
  }
  .error {
    color: #d93a3e;
  }