<br/>
<form class='w' [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
	<ul>
	<li>
	Name of Customer: <input type='text' name='cuName' id='cuName' formControlName='cuName'/><br/>
	<div *ngIf="form.get('cuName').hasError('pattern')" class="error"> CustomerName is mandatory</div>
	</li>
	<li>
	Number of nodes: <input type="number" name="numNodes" id="numNodes" formControlName='numNodes'/><br/>
	</li>
	<li>
	Number of Disk groups: <input type="number" name="numDiskgroups" id="numDiskgroups" size='4' formControlName='numDiskgroups'/><br/>
	</li>
	<li>
	Number of capacity disks: <input type="number" name="numCapdisks" id="numCapdisks" size='4' formControlName='numCapdisks'/><br/>
	</li>
	<li>
	Size of SSD (GB): <input type="number" name="ssdSize" id="ssdSize" formControlName='ssdSize'/><br/>
	<div *ngIf="form.get('ssdSize').hasError('ssdsize')" class="error"> SSD Size must be between 500 and 62000 </div>
	</li>
	<li>
	Storage Policy: <select name="FTM" id="FTM" formControlName='FTM'><br/>
		<option value="1"> PFTT=0</option>
		<option value="0.5"> PFTT=1 </option>
		<option value="0.33"> PFTT=2 </option>
		<option value="0.25"> PFTT=3 </option>
		<option value="0.75"> PFTT=RAID5 </option>
		<option value="0.67"> PFTT=RAID6 </option>
	</select><br/>	
	</li>
	<li>
	14th Gen: <input type='checkbox' id='isFavorite' name='isFavorite' formControlName='isFavorite' /><br/>	
	</li>
	<li>
	<button type="submit" id="submit" [disabled]='!form.valid'> Save </button><br/>	
	</li>
   
</ul>
</form><br/>
<section>

<!--<vsan-list-2 *ngFor="let vsanItem of vsanItems"
[vsanItem]="vsanItem"
(delete)="onVsanItemDelete($event)"></vsan-form-2>	
</section> -->
