.w{
    color:#69f;
    text-align: center;
}
input[type='button']{
    width:60px;
    background-color:#69f;
}
input[type='number']{
    width:50px;
    
}
input[type='text']{
    width:100px;
    
}