<br/>
<form class='w' #vsanForm="ngForm" (ngSubmit)="onSubmit(vsanForm.value)">
	Name of Customer: <input type='text' name='cuName' id='cuName'ngModel/><br/>
	Number of nodes: <input type="number" name="numNodes" id="numNodes" ngModel/><br/>
	Number of Disk groups: <input type="number" name="numDiskgroups" id="numDiskgroups" size='4' ngModel/><br/>
	Number of capacity disks: <input type="number" name="numCapdisks" id="numCapdisks" size='4' ngModel/><br/>
	Size of SSD (GB): <input type="number" name="ssdSize" id="ssdSize" ngModel/><br/>
	Storage Policy: <select name="FTM" id="FTM" ngModel><br/>
		<option value="1"> PFTT=0</option>
		<option value="0.5"> PFTT=1 </option>
		<option value="0.33"> PFTT=2 </option>
		<option value="0.25"> PFTT=3 </option>
		<option value="0.75"> PFTT=RAID5 </option>
		<option value="0.67"> PFTT=RAID6 </option>
	</select><br/>
	14th Gen: <input type='checkbox' id='isFavorite' name='isFavorite' ngModel /><br/>
   <button type="submit" id="submit" ngModel> Save </button><br/>
</form><br/>
<section>

<!--<vsan-list-2 *ngFor="let vsanItem of vsanItems"
[vsanItem]="vsanItem"
(delete)="onVsanItemDelete($event)"></vsan-form-2>	
</section> -->
