:host{
    display:flex;
    height: calc (100% - 95px);
    flex-direction: column;
    padding: 10px;
}
section {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }
  section > vsan-form {
    margin: 10px;
  }
  footer {
    text-align: right;
  }
  footer .icon {
    width: 64px;
    height: 64px;
  }